*{
	/*margin: 0;*/
	padding: 0;
	
}

.row{
	margin: 0;
	padding: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Lato','Open Sans', sans-serif;
	overflow-x: hidden;
	background: #e8e8e8 !important;
	min-height: 500px !important;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse {
	height: 102px !important;
	background-color: #e67817 !important;
	border-color: #e67817 !important;
	border: none !important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content { 
	width: 960px; 
	margin: 0 auto 1px auto !important; 
	display: block; 
	position: relative ;
	background-color: #fff;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #e8e8e8;
	height: 100%;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}
.logo_shape{
	z-index: 11;
	position: relative;
}

.container-fluid.body_container {
	background-color: #e8e8e8 !important;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	display: inline-table;
	left: 52px;
	position: relative;
}

/* .container-fluid.signin_popup {
	background-color: #e8e8e8 !important;
} */

.signInFontSm{ 
	padding : 5px;
} 

.signinMenu{
	padding: 24px; 
	width: 19%; 
	background: #fff; 
	min-width: 150px; 
	border-left: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
}

.sign_up_float {
	z-index: 999;
	position: absolute;
	right: 0;
	top: 77px;
	width: 250px;
}

.jumbotron{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	color: inherit;
	background-color: #fff;
}

.logo_tilt {
	position: absolute;
	width: 200px;
	height: 96%;
	transform: skew(150deg);
	background: white;
	z-index: 0;
	top: 0;
	left: 30px;
}

.login_nav>li {
	padding: 25px 25px 25px 25px !important;
}

.login_nav>li:hover{
	height: 102px;
	background-color: #fff !important;
}
.login_nav>li:hover>a{
	color: #e67817 !important;
}

li.signup_active{
	height: 102px;
	background-color: #fff !important;
}

li.signup_active>a.login_clr{
	color: #e67817 !important;
}

.wlcm_clr{
	color: #fff !important;
}

.content p {
	font-size: 14px !important;
	color: #808080 !important;
}

.sign_in_btn {
    background-color: #e67817;
    font-size: 15px;
    height: 35px;
    padding-top: 6px;
    color: #ffffff;
    border: 0;
    border-radius: 0px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.sign_in_btn:hover{
	background-color: #ffffff;
	color: #e67817;
	border: 1px solid #e67817;
}

.assign_clr_btn{
	background-color: #e67817;
	font-size: 1.25em;
	height: 40px;
	padding-top: 0.3em;
	color: #ffffff;
	border: 0;
	border-radius: 0px;
	width: 200px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.submit_clr_btn{
	background-color: #e67817;
	font-size: 1.25em;
	height: 40px;
	padding-top: 0.3em;
	color: #ffffff;
	border: 0;
	border-radius: 0px;
	width: 150px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.submit_clr_btn:hover{
	background-color: #ffffff;
	color: #e67817;
	border: 1px solid #e67817;
}

.assign_clr_btn:hover{
	background-color: #ffffff;
	color: #e67817;
	border: 1px solid #e67817;
}

.assign_new_btn{
	background-color: #ffffff;
	font-size: 16px;
	height: 40px;
	padding-top: 0.3em;
	color: #e67817;
	border: 1px solid #e67817;
	border-radius: 0px;
	width: 200px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.assign_new_btn:hover{
	background-color: #e67817;
	color: #ffffff;
	border: 0px;
}

.signinbox.checkbox {
	margin-top: 0px;
	margin-bottom: 5px;
	float: right;
}
.signinbox.no-padding {
	padding-right: 15px !important;
	padding-left: 0px !important;
}

.pad_15px{
	padding: 15px !important;
}

input.input_sign_up {
    vertical-align: middle;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #C0C0C0 !important;
    color: #808080 !important;
    font-size: 15px !important;
    height: 30px!important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 0.3em !important;
    width: 200px !important;
}

input.chkbx_sign_up {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 1px solid #C0C0C0 !important;
	color: #808080 !important;
	font-size: 1.2em !important;
	height: 1.5em !important;
	line-height: 1.5em !important; 
	margin: 0 !important;
	overflow: visible !important;
	position: relative;
	display: inline-block;
}

.txtarea_brdrclr{
	border: 1px solid #808080 !important;
	width: 188px !important;
}

.navbar-right {
	float: right!important;
	margin: 0px !important;
}

.remember-me-width {
	width: 10em !important;
	line-height: 14px !important; 
	background-size: 14px auto !important;; 
	height: 14px! important;
	padding-left: 0px !important;
}

.checkbox {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.sign-in-box-pad>li{
	display: block;
}

.margin-top-5px {
	margin-top: 5px;
}

.grey_txt_color{
	color: #808080 !important;
}

.pad_top_15px{
	padding-top: 15px;
	
}

.pad_6px{
	padding: 6px !important;
}

.pad_btm_15px{
	padding-bottom: 15px;
}

.pad_top_30px{
	padding-top: 30px;
	
}

.pad_btm_30px{
	padding-bottom: 30px;
}

.pad_btm_300px{
	padding-bottom: 300px !important;
}

.dropdown-menu{
	width: 280px !important;
	border-radius: 0px !important;
}

.dropdown-menu>li>a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #808080 !important;
}

.arrw{
	position: absolute;
	right: 16px;
	background: white;
	padding: 5px 0px 15px 8px;
	top: 2px;
	border-radius: 10px;
	right: 0;
}

.arw{
	position: absolute;
	right: 16px;
	background: white;
	padding: 5px 0px 15px 0px;
	top: 2px;
	border-radius: 10px;
}
.align_rt {
	float: right;
	position: relative;
	top: 8px;
}

.align_right{
   float: right; 
   position: relative;
   top: -22px;
}

.logout:hover{
	cursor: pointer !important;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
	color: #fff !important;
	background: #e67817 !important;
}

.datepicker--cell.-current- {
	color: #e67817 !important;
}

.pad_40px{
	padding: 40px !important;
}

.mrgn_2px{
	margin: -2px !important;
}

.brdr_clr{
	border: 1px solid #808080 !important;
}

.frmt_cmnt{
	width: 200px;
	display: inline-block;
	word-wrap: break-word !important;
}

.cvr{
	position: absolute;
	top: 0;
	right: 0;
}

a:focus{
	outline: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{ 
	.align_right{ top: -3px !important; } 
	
	.dropdown-menu{
		width: 280px !important;
		border-radius: 0px !important;
	}
}

/* Set black background color, white text and some padding */
footer {
  background-color: #5e5e5e !important;
  color: white;
  padding: 15px;
  margin-top: 20px;
  bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
}
footer>p{
	position: relative;
	display: inline-table;
}

.mrgn_footer{
	margin-bottom : 70px;
}

.flot_lft{
	float: left !important;
}

.copy_right {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	font-weight: 400;
	opacity: .8;
}

.hide{
	display: none !important;
}

hr {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	border: 0;
	border-top: 1px solid #e8e8e8 !important;
}

.navbar{
	margin-bottom: 20px !important;
}


.pad_10px{
	padding: 10px 10px 10px 0 !important;
}

/* .assign_btn{
	padding-top: 30px;
} */

.flt_rt{
	float: right;
}

.table>thead>tr>th {
	background-color: #e67817 !important;
	color: #fff !important;
	text-align: center ;
	border-right: 0.5px solid #fff !important;
}

#myNavbar{	
	display: inline-block;
	float: right;
}

.update_btn {
	background-color: #e67817;
	font-size: 1.25em;
	height: 35px;
	padding-top: 0.2em;
	color: #ffffff;
	border: 0;
	border-radius: 0px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.update_btn:hover{
	background-color: #ffffff;
	color: #e67817;
	border: 1px solid #e67817;
}

a.update{
	color: #e67817 !important;
}

.table{
	margin-bottom: 0px !important;
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td{
	vertical-align: middle !important;
    border: 1px solid #ddd !important;
}

.table>tbody>tr>td:after{
	padding-bottom: 0px !important;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th{
	 border: 1px solid #e67817 !important;
	 border-right: 1px solid #ddd !important;
}

.ftr_align{
	width: 960px !important;
	margin: 0 auto !important;
	position: relative !important;
	display: block !important;
}

.text_align_lft{
	text-align: left !important;
	padding-left: 2px !important;
}

.navbar-header {
	float: none;
}

.tab_span{
	display: block !important;
    position: relative !important;
    padding: 12px 0 !important;
}

.font_15px{
	font-size: 15px;
}

.user:after{
	content: "";
	padding-right: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;}
  .pad_lft_0px{
		padding-left: 0;
	}
}

@media screen and (min-width: 768px){
	.jumbotron .h1, .jumbotron h1 {
		font-size: 1.75em!important;
		padding: 5px 0 !important;
	}
	.jumbotron .h2, .jumbotron h2 {
		font-size: 20px!important;
		padding: 5px 0 !important;
	}
	.container-fluid .jumbotron {
		padding-right: 60px !important;
		padding-left: 0px !important; 
	}
	
}

@media screen and (max-width: 991px){
	 .row.content {width:98%; }	
	 .container-fluid.body_container{
		 padding: 0;
	 }
	 .pad_top_sm{
		padding-top: 30px;
	}
} 

@media (min-width: 1200px){
	.col-lg-2 {
		width: 33.666667% !important;
	}
}

@media screen and (max-width: 425px){
	 .row.content {width:98%; }
	 .dropdown-toggle{
		 width:100% !important;
	 } 
	 .dropdown-menu {
		width: 100% !important;
	 }
	 .logo_shape{
		 width: 100px;
	 }
	 .navbar-brand{
		 left: 35px;
	 }
	 .logo_tilt{
		 left: 29px;
		 width: 137px;
	 }
	 .login_nav>li{
		 padding: 18.5px 16px !important;
	 }
	 .login_nav>li:hover{
		 height: auto;
	 }
	 .navbar-inverse{
		 height: 77px !important;
	 }
	 li.signup_active {
		height: auto;
	 }
	 .content p{
		 font-size: 10px !important;
	 }
	.txtarea_brdrclr{
		width: 100% !important;
	}
	.datepicker-here{
		width: 100%;
	}
	.pad30px{
		padding-top: 30px;
	}
	/* .pad_lft_30px{
		padding-left: 30px;
	} */
	.mob_inp_width{
		width: 130px;
	}
	.frmt_cmnt{
		width: 135px;
	}
} 


/* for checkbox */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 15px !important;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #e67817;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #e67817;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #e67817!important;
}


/* for date picker */

.ui-widget-header {
    border: 1px solid #e67817 !important;
    background: #e67817 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}  

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	color: #999 !important;
	border: 1px solid #eeeeee !important;
	text-align: center !important;
    /* background: #ffffff !important; */
    
}

.ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #e67817 !important;
    background: #ffffff !important;
    font-weight: bold;
    color: #ffffff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #e67817 !important;
    background: #e67817 !important;
    color: #ffffff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover{
	border: 1px solid #e67817 !important;
    background: #ffffff !important;
    color: #e67817 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #e67817 !important;
    background: #ffffff !important;
	color: #e67817 !important;
}