<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Triveni Engineering Platform</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />	
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/datepicker.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="javascripts/datepicker.min.js"></script>
		<script src="javascripts/datepicker.en.js"></script>
		<script src="javascripts/controller.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <div class="logo_tilt">
			  </div>
			  <a class="navbar-brand" href="#" ><img src="images/triveni_logo.jpg" alt="Triveni Turbines" class="logo_shape"></a>
			</div>
			<div class="" id="myNavbar">
			  <!-- <ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Contact</a></li>
			  </ul> -->
			  <ul class="nav navbar-nav navbar-right login_nav" style="background-color: #e67817 !important;">
				<li class="login_clk"><a href="#" class="login_clr">Login</a></li>
			  </ul>
			  <p class="welcm_shw wlcm_clr pad_40px hide">Welcome &nbsp;<b class="user"></b>&nbsp;&nbsp;<img class="logout mrgn_2px" src="images/logout.png"/></p>
			  <div id="sign_in_show" class="container-fluid signin_popup hide">
					<ul class="signinMenu sign_up_float">
						  <form class="sign-in-box-pad">
							<li>
								<div class="row">
									 <div class="signInFontSm ">
										  <input id="modal-email" type="text" name="username" class="input_sign_up" placeholder="Email">	  
									 </div>
									 <div class="signInFontSm">
										  <input id="modal-password" type="password" name="password" class="input_sign_up" placeholder="Password">	  
									 </div>         
								</div>
								<div class="row">
									<div class="checkbox signinbox no-padding">
										<p>
											<input type="checkbox" id="test1" />
											<label for="test1" class="grey_txt_color">Remember me</label>
										</p>
									</div>
								</div>
								<div class="row noBottomMargin signinbox no-padding login_btn">
									  <button type="button" id="jsonLogin" class="btn sign_in_btn" >Login</button>
								</div>
								<div class="row">
									 <div class="font-13px margin-top-5px forgotPasswordDesktop col-sm-8 signinbox no-padding">
										  <a href="#" class="">Forgot Password?</a>
									 </div>
									 <div class="text-right font-13px margin-top-5px forgotPasswordDesktop signinbox col-sm-4 no-padding">
										  <a href="#" class="">Register</a>
									 </div>
								</div>
							</li>
						</form>
					</ul>
				</div>
			</div>
		  </div>
		</nav> 
		<div class="container-fluid body_container text-center mrgn_footer" ng-app="TriveniApp" ng-controller="assignCtrl">
			<div class="row content">
				<div class="col-sm-12 text-left " >
					<div class="jumbotron">
						<h1>Triveni Engineering Platform</h1>
					</div>
				</div>
			</div>
			<div class="row content" >
				<div class="col-sm-12 text-left " >
					<div class="jumbotron col-sm-12">
						<h2> Manager Report Screen :</h2>
					</div>
				</div>
			</div>
			<div class="row content">
				<div class="col-sm-12 col-xs-12 text-left pad_top_15px pad_btm_15px ">
					<div class="noBottomMargin signinbox no-padding col-sm-12 assign_btn">
						<button type="button" id="jsonLogin" class="btn assign_clr_btn assign_prgrm flt_rt" ng-click="">Assign New Program</button>
					</div>
				</div>
			</div>
			<div class="row content">
				<article id="ncUnit" class="fadeInRight">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Project</th>
									<th>Program</th>
									<th>Engineer</th>
									<th>Assigned By</th>
									<th>Start Date</th>
									<th>Completion Date</th>
									<th>Comments</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Project 1</td>
									<td>Program 1</td>
									<td>Engineer 1</td>
									<td>Manager 1</td>
									<td>16-Jun-2016</td>
									<td>28-Jul-2016</td>
									<td></td>
									<td><span class="tick">&#10004;</span></td>
									<td><div class="row noBottomMargin signinbox no-padding login_btn">
											<button type="button" id="jsonLogin" class="btn update_btn" >Update</button>
										</div>
									</td>
								</tr>
								<tr>
									<td>Project 1</td>
									<td>Program 1</td>
									<td>Engineer 1</td>
									<td>Manager 1</td>
									<td>16-Jun-2016</td>
									<td>28-Jul-2016</td>
									<td></td>
									<td><span class="tick">&#10004;</span></td>
									<td><div class="row noBottomMargin signinbox no-padding login_btn">
											<button type="button" id="jsonLogin" class="btn update_btn" >Update</button>
										</div>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</div>

		<footer class="container-fluid text-center">
		  <p><span class="copy_right flot_lft"> &nbsp; &copy; <script type"javascript">document.write(new Date().getFullYear());</script>&nbsp; Triveni Turbines, All Rights Reserved.</span></p> 
		</footer>
		<script>
			
		</script>
	</body>
</html>

