<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Triveni Engineering Platform</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />	
		
		<link rel="stylesheet" href="css/style.css">
		<!-- <link rel="stylesheet" href="css/datepicker.min.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!-- <script src="javascripts/datepicker.min.js"></script>
		<script src="javascripts/datepicker.en.js"></script> -->
		
		<link href="css/jquery-ui.css" rel="stylesheet">
		<script src="javascripts/jquery-1.10.2.js"></script>
		<script src="javascripts/jquery-ui.js"></script>
		
		<script src="javascripts/controller.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header" style="width: 960px; margin: 0 auto; display: block; position: relative;">
			  <div class="logo_tilt" style="float:left;">
			  </div>
			  <a class="navbar-brand" style="float:left;" href="#" ><img src="images/triveni_logo.jpg" alt="Triveni Turbines" class="logo_shape"></a>
			  <p class="welcm_shw wlcm_clr pad_40px hide" style="float:right !important; padding-right: 0px !important;">Welcome &nbsp;<b class="user"></b>&nbsp;&nbsp;<img class="logout mrgn_2px" src="images/logout.png"/></p>
			  <div class="cvr">
				    <ul class="nav navbar-nav navbar-right login_nav" style="background-color: #e67817 !important;">
						<li class="login_clk">
							<a href="#" class="login_clr">Login</a>
						</li>
				    </ul>
				    <div id="sign_in_show" class="container-fluid signin_popup hide">
						<ul class="signinMenu sign_up_float">
							<form class="sign-in-box-pad">
								<li>
									<div class="row">
										 <div class="signInFontSm ">
											<input id="modal-email" type="text" name="username" class="input_sign_up" placeholder="email"> 
										 </div>
										 <div class="signInFontSm">
											<input id="modal-password" type="password" name="password" class="input_sign_up" placeholder="password">	  
										 </div>         
									</div>
									<div class="row">
										<div class="checkbox signinbox no-padding">
											<p>
												<input type="checkbox" id="test1"/>
												<label for="test1" class="grey_txt_color" style="font-weight: 300 !important;">Remember me</label>
											</p>
										</div>
									</div>
									<div class="row noBottomMargin signinbox no-padding ">
										<button type="button" id="jsonLogin" class="btn sign_in_btn login_btn" >Login</button>
									</div>
									<div class="row">
										<div class="margin-top-5px forgotPasswordDesktop col-sm-8 signinbox no-padding font_15px">
											<a href="#" class="">Forgot Password?</a>
										</div>
										<div class="text-right margin-top-5px forgotPasswordDesktop signinbox col-sm-4 no-padding font_15px">
											<a href="#" class="">Register</a>
										</div>
									</div>
								</li>
							</form>
						</ul>
					</div>
				</div>
			</div>
		  </div>
		</nav> 
		<div class="container-fluid body_container text-center mrgn_footer" ng-app="TriveniApp" ng-controller="assignCtrl">
			<div class="row content">
				<div class="col-sm-12 text-left " >
					<div class="jumbotron">
						<h1>Triveni Engineering Platform</h1>
					</div>
				</div>
			</div>
			<div class="row content" ng-show="manager_screen">
				<!-- <div class="col-sm-12 text-left " >
					<div class="jumbotron col-sm-12">
						<h2> Manager Report Screen :</h2>
					</div>
				</div> -->
				<div class="col-sm-12 col-xs-12 text-left pad_top_15px pad_btm_15px" style="padding-right: 0px !important;">
					<div class="noBottomMargin signinbox no-padding col-sm-12 assign_btn">
						<button type="button" id="jsonLogin" class="btn assign_new_btn assign_prgrm flt_rt" ng-click="assign_new()">
							Assign New Program
						</button>
					</div>
				</div>
			</div>
			<div class="row content" ng-show="manager_screen">		
			</div>
			<div class="row content" ng-show="manager_screen">
				<article id="" class="fadeInRight">
					<div class="table-responsive pad_15px">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Project</th>
									<th>Program</th>
									<th>Engineer</th>
									<th>Assigned By</th>
									<th>Start Date</th>
									<th>Completion Date</th>
									<th>Comments</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text_align_lft">Project 1</td>
									<td class="text_align_lft">Program 1</td>
									<td class="text_align_lft">Engineer 1</td>
									<td class="text_align_lft">Manager 1</td>
									<td>16-Jun-2016</td>
									<td>28-Jul-2016</td>
									<td class="text_align_lft">Use Angular</td>
									<td>
										<span>
											<svg width="40" height="40" style="padding-top: 3px !important;">
												<circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="#808080" />
											</svg>
										</span>
									</td>
									<td>
										<a href="#" class="update" >Update</a>
									</td>
								</tr>
								<tr>
									<td class="text_align_lft">Project 2</td>
									<td class="text_align_lft">Program 1</td>
									<td class="text_align_lft">Engineer 1</td>
									<td class="text_align_lft">Manager 1</td>
									<td>16-Jun-2016</td>
									<td>28-Jun-2016</td>
									<td class="text_align_lft">Urgent</td>
									<td>
										<span>
											<svg width="40" height="40" style="padding-top: 3px !important;">
												<circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="yellow" />
											</svg>
										</span>
									</td>
									<td>
										<a href="#" class="update" >Update</a>
									</td>
								</tr>
								<tr>
									<td class="text_align_lft">Project 3</td>
									<td class="text_align_lft">Program 1</td>
									<td class="text_align_lft">Engineer 1</td>
									<td class="text_align_lft">Manager 1</td>
									<td>18-Jul-2016</td>
									<td>28-Jul-2016</td>
									<td class="text_align_lft">Priority</td>
									<td>
										<span>
											<svg width="40" height="40" style="padding-top: 3px !important;">
												<circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="green" />
											</svg>
										</span>
									</td>
									<td>
										<a href="#" class="update" >Update</a>
									</td>
								</tr>	
							</tbody>
						</table>
					</div>
				</article>
			</div>
			<div class="row content">
				<div class="col-sm-12 text-left pad_top_15px pad_btm_15px" ng-show="project">
					<div class="col-sm-3">
						<p class="pad_10px">
							Choose the Project 
						</p>
					</div>
					<div class="col-sm-1">
						<p class="pad_10px">
							 
						</p>
					</div>
					<div class="col-sm-4">
						<div class="dropdown header_dropdown header_nav ">
							<button class="selectProjectBtn btn dropdown-toggle dropdown_reg btn_headr header_dropdown_mob menu_icon" type="button" data-toggle="dropdown" style="background-color: #fff; font-size: 14px; border-radius:0px; color: #808080; width: 280px; border: 1px solid #808080; text-align: left;  height: 40px;" ng-model="selectProject">{{selectProject}}
								<span class="arrw align_right">
									<span class="caret align_rt"></span>
								</span>
							</button>
							<ul class="selectProject dropdown-menu headr_menu dropdown_menu_mob ">
							  <li ng-click="selectedProject()"><a href="#">Project 1</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 2</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 3</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 4</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 5</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 6</a></li>
							  <li ng-click="selectedProject()"><a href="#">Project 7</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
				</div>
				<div class="col-sm-12 text-left pad_btm_15px" ng-show="program">
					<div class="col-sm-3">
						<p class="pad_10px">
							Choose the Program 
						</p>
					</div>
					<div class="col-sm-1">
						<p class="pad_10px">		 
						</p>
					</div>
					<div class="col-sm-4">
						<div class="dropdown header_dropdown header_nav ">
							<button class="selectProgramBtn btn dropdown-toggle dropdown_reg btn_headr header_dropdown_mob menu_icon" type="button" data-toggle="dropdown" style="background-color: #fff; font-size: 14px; border-radius:0px; color: #808080; width: 280px; border: 1px solid #808080; text-align: left; height: 40px;" ng-model="selectProgram">{{selectProgram}}
								<span class="arrw align_right">
									<span class="caret align_rt"></span>
								</span>
							</button>
							<ul class="selectProgram dropdown-menu headr_menu dropdown_menu_mob ">
							  <li ng-click="selectedProgram()"><a href="#">Program 1</a></li>
							  <li ng-click="selectedProgram()"><a href="#">Program 2</a></li>
							  <li ng-click="selectedProgram()"><a href="#">Program 3</a></li>
							  <li ng-click="selectedProgram()"><a href="#">Program 4</a></li>
							  <li ng-click="selectedProgram()"><a href="#">Program 5</a></li>
							  <li ng-click="selectedProgram()"><a href="#">Program 6</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
				</div>
				<div class="col-sm-12 text-left pad_btm_15px " ng-show="engineer">
					<div class="col-sm-3">
						<p class="pad_10px">
							Assign to Engineer
						</p>
					</div>
					<div class="col-sm-1">
						<p class="pad_10px">	 
						</p>
					</div>
					<div class="col-sm-4">
						<div class="dropdown header_dropdown header_nav ">
							<button class="selectEngineerBtn btn dropdown-toggle dropdown_reg btn_headr header_dropdown_mob menu_icon" type="button" data-toggle="dropdown" style="background-color: #fff; font-size: 14px; border-radius:0px; color: #808080; width: 280px; border: 1px solid #808080; text-align: left; height: 40px;" ng-model="selectEngineer">{{selectEngineer}}
								<span class="arrw align_right">
									<span class="caret align_rt"></span>
								</span>
							</button>
							<ul class="selectEngineer dropdown-menu headr_menu dropdown_menu_mob ">
							  <li ng-click="selectedEngineer()"><a href="#">Engineer 1</a></li>
							  <li ng-click="selectedEngineer()"><a href="#">Engineer 2</a></li>
							  <li ng-click="selectedEngineer()"><a href="#">Engineer 3</a></li>
							  <li ng-click="selectedEngineer()"><a href="#">Engineer 4</a></li>
							  <li ng-click="selectedEngineer()"><a href="#">Engineer 5</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>	
			<div class="row content" ng-show="details">
				<div class="col-sm-12 text-left " >
					<div class="jumbotron col-sm-12">
						<h2>Project Details : <b class="selectedProject"> </b></h2>
					</div>
				</div>
			</div>
			<div class="row content" ng-show="details">
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-left pad_top_15px pad_btm_15px ">
					<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 pad_lft_0px">
						<div class="col-sm-2 col-xs-8 col-md-2 col-lg-2">
							<p class="pad_10px">
								Program Name 
							</p>
						</div>
						<div class="col-sm-1 col-xs-4 col-md-1 col-lg-1">
							<p class="pad_10px">
								 
							</p>
						</div>
						<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
							<p class="pad_10px">
								<b class="selectedProgram"></b>
							</p>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 pad_lft_0px">
						<div class="col-sm-2 col-xs-8 col-md-2 col-lg-2">
							<p class="pad_10px">
								Engineer Name 
							</p>
						</div>
						<div class="col-sm-1 col-xs-4 col-md-1 col-lg-1">
							<p class="pad_10px">
								 
							</p>
						</div>
						<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
							<p class="pad_10px">
								<b class="selectedEngineer"></b>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-left pad_top_15px pad_btm_15px ">
					<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 pad_lft_0px">
						<div class="col-sm-2 col-xs-8 col-md-2 col-lg-2">
							<p class="pad_10px">
								Start Date 
							</p>
						</div>
						<div class="col-sm-1 col-xs-4 col-md-1 col-lg-1">
							<p class="pad_10px">	
							</p>
						</div>
						<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
							<!-- <input type="text" class="start_date datepicker-here pad_6px brdr_clr" data-language='en' data-date-format="dd-M-yyyy"/>	 -->
							<input type="text" id="datepicker-start" class="start_date datepicker-here pad_6px brdr_clr" >
						</div>
					</div>	
					<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 pad_lft_0px pad_top_sm">
						<div class="col-sm-2 col-xs-8 col-md-2 col-lg-2">
							<p class="pad_10px">
								Completion Date 
							</p>
						</div>
						<div class="col-sm-1 col-xs-4 col-md-1 col-lg-1">
							<p class="pad_10px">
								
							</p>
						</div>
						<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
							<!-- <input type="text" class="cmplt_dt datepicker-here pad_6px brdr_clr" data-language='en' data-date-format="dd-M-yyyy" />	 -->
							<input type="text" id="datepicker-complt" class="cmplt_dt datepicker-here pad_6px brdr_clr" >
						</div>
					</div>	
				</div>
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-left pad_top_15px pad_btm_15px ">	
					<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 pad_lft_0px">	
						<div class="col-sm-2 col-xs-8 col-md-2 col-lg-2 pad_lft_30px">
							<p class="pad_10px">
								Comments
							</p>
						</div>
						<div class="col-sm-1 col-xs-4 col-md-1 col-lg-1">
							<p class="pad_10px">
								
							</p>
						</div>
						<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 pad_lft_30px">
							<textarea rows="4" cols="10" class="txtarea_brdrclr cmnts">
							</textarea>
						</div>
						<div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
							<p class="pad_10px">
								
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 text-left pad_top_15px pad_btm_15px ">
					<div class="noBottomMargin signinbox no-padding col-sm-12 assign_btn">
						<button type="button" id="jsonLogin" class="btn assign_clr_btn assign_prgrm" ng-click="assign_prg()">Assign Program</button>
					</div>
				</div>
			</div>
			<!-- Engineers Screen -->
			<div class="row content" ng-show="engg_screen">
				<div class="col-sm-12 text-left " >
					<div class="jumbotron col-sm-12">
						<h2> Assign to : <b class="selectedEngineer"> </b></h2>
					</div>
				</div>
			</div>
			<div class="row content" ng-show="engg_screen">
				<div class="col-sm-12 col-xs-12 col-md-12 text-left pad_top_15px pad_btm_15px ">
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							Project Name
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							<b class="selectedProject"></b>
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							Program Name 
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							<b class="selectedProgram"></b>
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-12 text-left pad_top_15px pad_btm_15px ">
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							Start Date 
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">	
							<b class="strt_date"></b>
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							Completion Date 
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px ">
							<b class="cmpltn_date"></b>
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-12 text-left pad_top_15px pad_btm_15px ">
					<div class="col-sm-2 col-xs-6 col-md-3">
						<p class="pad_10px">
							Comments
						</p>
					</div>
					<div class="col-sm-1 col-xs-6 col-md-3">
						<p class="pad_10px frmt_cmnt"><b class="assignr_cmnt"></b>	
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<p class="pad_10px">
							Approver
						</p>
					</div>
					<div class="col-sm-3 col-xs-6 col-md-3">
						<input type="text" placeholder="Enter Email ID" class="pad_6px brdr_clr mob_inp_width">
					</div>
				</div>
				<div class="col-sm-12 text-left pad_top_15px pad_btm_15px ">
					<div class="noBottomMargin signinbox no-padding col-sm-12 assign_btn">
						<button type="button" id="" class="btn submit_clr_btn submit_reload" >Submit</button>
					</div>
				</div>
			</div>
			<!-- End of Engineers Screen -->	
		</div>
		<footer class="container-fluid text-center">
		  <span class="copy_right ftr_align"><div class="flot_lft">&copy; <script type"javascript">document.write(new Date().getFullYear());</script>&nbsp; Triveni Turbines, All Rights Reserved.</div></span>
		</footer>
	</body>
</html>

